---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content">
      <div id="content-container" class="container">
        {{ content }}              
      </div>
    </main>
    
    {% include footer.html %}
    
    <!-- Start-Lightbox -->
    {% for item in page.images %}
<div class="lightbox" id="lightbox{{ forloop.index }}">
  <div class="table">
    <div class="table-cell">
      <img class="close" src="/img/close.svg" />
      <img class="next" src="/img/next.svg" />
      <img class="prev" src="/img/prev.svg" />
      <div class="item" style="background: url('{{ item.image }}') center center no-repeat; background-size: cover;">
      </div>
    </div>
  </div>
</div>
    {% endfor %}
    <!-- End-Lightbox -->
    
    <!-- Lightbox -->
    <script type="text/javascript" src="/js/lightbox.js"></script>
    <link rel="stylesheet" href="/_sass/lightbox.css">
    <!-------------->
    
  </body>

</html>
