---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="pt-4 pb-3">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1> -->
  <!-- JUBITT -->
  <header id="nav-header" class="border-dark border-left-0 border-right-0">
  <div id="nav-container" class="container position-relative d-flex justify-content-between align-items-center">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="h4 m-0 text-dark" href="{{ "/" | relative_url }}"><img src="../img/logo-cup.png" alt="Linux no café"></a>
    <!-- JUBITT -->
    <p class="text-secondary">
      {% if page.author %}
        {% if page.author_url %}
          <a href="{{ page.author_url }}">
        {% endif %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% if page.author_url %}
          </a>
        {% endif %}
        &bull;
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </header>

  <div class="text-justify" itemprop="articleBody" id="content">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
